.layout {
  position: static;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.paper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}